<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{APP_NAME}}</title>
    <!-- <script src="https://unpkg.com/dagger.js"></script> -->
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main +load="() => ({ name: 'dagger', clickCount: 0 })">
      <h1 >Hello, ${ name }!</h1>
      <button +click="clickCount++">
        Clicked ${ clickCount } times!
      </button>
    </main>
  </body>
</html>
